export SECRET_KEYS=
export TENNANT_ID=
export CLIENT_ID=
export CLIENT_SECRET=
# This is the api URI (spelled like api://...) of the app that we get into with OBO.
export TILED_SCOPE=
# This is the app URI of the app the user interacts with (this app).
export APP_SCOPE=
